@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

:root {
  --theme-color: rgb(41 209 0);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  justify-content: space-between;
  line-height: 1.6em;
  list-style: none;
  margin: 10px 0;
}

ul li {
  width: 100%;
}

ul li i {
  margin-right: 5px;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--theme-color)
}

a:visited {
  color: #686868
}

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  padding: 0;
}

.icon {
  display: inline-block;
  padding: 8px;
  position: relative;
  top: 3px;
}

.ic-github {
  background: url(../img/github.png) no-repeat center center;
}

.ic-phone {
  background: url(../img/phone-call.png) no-repeat center center;
}

.ic-mail {
  background: url(../img/mail.png) no-repeat center center;
}

.content {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-column-gap: 35px;
  grid-template-areas: "main main";
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 40px;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 30px;
}

.content>div {
  animation: fadeIn ease-in 1;
  animation-delay: 0.25s;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.markers,
.main {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  flex-wrap: wrap;
  grid-area: main;
  justify-content: center;
  width: 100%;
}

.main .avatar {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
  height: 180px;
  margin: 0 0 30px 0;
  width: 180px;
}

.main .personal h1 {
  line-height: 52px;
}

.main .personal span {
  color: #ffffff;
  padding: 5px;
  border-bottom-right-radius: 10px;
  background-color: #000000;
}

@media (min-width: 640px) {
  .content {
    margin: 40px auto;
  }
  .main .avatar {
    clip-path: polygon(50% 0, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
  .personal {
    border: none;
    margin: 0;
    padding: 0 10px;
  }
  .personal h2 {
    font-size: 2.5em;
  }
  .personal ul li {
    margin: 0;
  }
  .personal:after {
    display: none;
  }
}